@charset "utf-8";

section{
    width: 850px;
    margin: 0 auto;
    background-color: #ffebf0;
    padding: 2em;
}

h1{
    margin: 0 0 1em
}

img{
    width: 270px;
    margin-bottom: 1em;

    /* 回り込み設定(今回は右)この設定で親要素の認識が外れて崩れる。*/
    float:right;
}

/* floatで周りこみさせた後の形が崩れないおまじない的なテンプレ */
section::after{
    content: "";
    display: block;
    clear: both;
}

p{
    line-height: 1.8;
}