/* 最初に文字コード指定 */
@charset "utf-8";

/* すべての要素へのスタイル */
*{color: rgb(15, 49, 171);}
/* 要素セレクタ */
p{color: red;}
/* 子孫セレクタ ::articlのp*/
article p{color: s;}
/* 複数セレクタ */
h1,h2{color: blue;}
/* class/idセレクタ. 要素名は省略可能 */
p.hoge{color: #000;}
p#fuga{color: #000;}
/* 属性セレクタ */
input[type="text"]{color: aqua;}